
@{
    ViewBag.Title = "Hello Wordl!";
} 



<div style="border-radius:10px; background-color:#1B3465; margin-block-start: 50px; height=150px;" class="jumbotron">
    <h2 style="margin-left:40%; color:aqua; margin-inline-start: 38%;">@ViewBag.Title</h2>
</div>

